{% extends "../base.html" %}

{% block header_text %}Dashboard{% endblock %}

{% block content %}

Hello {{ user.username }}, <a href={% url "logout" %}>logout</a> <a href={% url "create_room" %}>create room</a>

<br>

<ol>
    {% for room in owned_rooms %}
    <li> {{room.id}}: <b>{{room.owner.username}}</b>/{{ room.room_name }}, <a href={% url "room" room.id %}>go</a> </li>
    {% endfor %}
</ol><br>

<ol>
    {% for room in guest_rooms %}
    <li> {{room.id}}: {{room.owner.username}}/{{ room.room_name }}, <a href={% url "room" room.id %}>go</a> </li>
    {% endfor %}
</ol>

{% endblock %}
