{% extends "../base.html" %}

{% block header_text %}Dashboard{% endblock %}

{% block content %}

Hello {{ user.username }}, <a href={% url "logout" %}>logout</a> <a href={% url "create_room" %}>create room</a>

<br>

<ol>
    {% for room in owned_rooms %}
    <li> {{room.id}}: <b>{{room.owner.username}}</b>/{{ room.room_name }} </li>
    <form action="/room/delete/{{room.id}}/" method="post">
        {% csrf_token %}
        <button type="submit" >del</button>
    </form>
    <form action="/room/clone/{{room.id}}/" method="post">
        {% csrf_token %}
        <label for="room_name">Room name:</label><br>
        <input type="text" id="room_name" name="room_name">
        
        <button type="submit" >clone</button>
    </form>
    {% endfor %}
</ol><br>

<ol>
    {% for room in guest_rooms %}
    <li> {{room.id}}: {{room.owner.username}}/{{ room.room_name }} </li>
    {% endfor %}
</ol>
<!-- list rooms here --!>

{% endblock %}
