{% extends "../base.html" %}
{% load static %}

{% block header_text %}{{ room.room_name }}{% endblock %}

{% block content %}

Hello {{ user.username }}, <a href={% url "logout" %}>logout</a> <a href={% url "dashboard" %}>dashboard</a>

<h5>
{{room.id}}: <b>{{room.owner.username}}</b>/{{ room.room_name }}, height: {{room.height}}, width: {{room.width}}, {% if running %} Simulation is running 🚀 {% else %} Simulation is stopped 🌱 {% endif %}
</h5>

<button class="btn btn-default" onClick="window.location.reload();">Refresh Page</button>

<h5>
    Guests:
    {% for u in room.guests.all %}
        {{u.username}}, 
    {% empty %}
        No guests :(
    {% endfor %}
</h5>


<center>
    <table>
        {% for cell_row in cells %}
        <tr>
            {% for cell in cell_row %}
            <td>
                <div class="cell">
                    <img class="direction{{cell.0.direction}}" width="48" height="48" src="{% static 'cells/' %}type{{cell.0.type}}.png"/>
                    {% for wagon in cell.1 %}
                        <img class="train direction{{wagon.1}}" width="48" height="48" src="{% static 'trains/' %}type{{wagon.0}}.png"/>
                    {% endfor %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</center>

<h4>
    Cell Operations
</h4>

<form class="form-inline" action="/room/place/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Place </span>
    <label for="x">X </label>
    <input class="form-control" type="number" id="x" name="x" min="0" max="{{room.width_lim}}" required>
    <label for="y">Y </label>
    <input class="form-control" type="number" id="y" name="y" min="0" max="{{room.height_lim}}" required>
    <label for="type">Cell Type </label>
    <select name="type" id="type" class="form-control">
        {% for choice in cell_types %}
            <option value="{{choice.0}}">{{choice.1}}</option>
        {% endfor %}
    </select>
    <button class="btn btn-default" type="submit" >Place Cell</button>
</form>

<form class="form-inline" action="/room/rotate/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Rotate </span>
    <label for="x">X </label>
    <input class="form-control" type="number" id="x" name="x" min="0" max="{{room.width_lim}}" required>
    <label for="y">Y </label>
    <input class="form-control" type="number" id="y" name="y" min="0" max="{{room.height_lim}}" required>
    <label for="direction">Direction </label>
    <select name="direction" id="direction" class="form-control">
        {% for direction in directions %}
            <option value="{{direction.0}}">{{direction.1}}</option>
        {% endfor %}
    </select>
    <button class="btn btn-default" type="submit" >Rotate Cell</button>
</form>

<form class="form-inline" action="/room/switch/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Switch </span>
    <label for="stateful_cell">Stateful Cell:</label>
    <select name="stateful_cell" id="stateful_cell" class="form-control">
    {% for stateful in stateful_cells %}
        <option value="{{stateful.0.id}}">({{stateful.0.x}}, {{stateful.0.y}}): {{stateful.1}}</option>
    {% endfor %}
    </select>
    <button class="btn btn-default" type="submit" >Switch Cell</button>
</form>

<h4>Room Operations </h4>

<form class="form-inline" action="/room/clone/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Clone </span>
    <label for="room_name">Room name </label>
    <input class="form-control" type="text" id="room_name" name="room_name" required>

    <button class="btn btn-default" type="submit" >Clone</button>
</form>

{% if is_owner %}
<form class="form-inline" action="/room/delete/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Delete </span>
    <button class="btn btn-default" type="submit" >Delete Room</button>
</form>

<form class="form-inline" action="/room/add/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Add User </span>
    <label for="user_id">User </label>
    <select name="user_id" id="add_username" class="form-control">
        {% for u in users %}
        <option value="{{u.id}}">{{u.username}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-default" type="submit" >Add User</button>
</form>

<form class="form-inline" action="/room/remove/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Remove User </span>
    <label for="user_id">User </label>
    <select name="user_id" id="rem_username" class="form-control">
        {% for u in room.guests.all %}
            <option value="{{u.id}}">{{u.username}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-default" type="submit" >Remove User</button>
</form>
{% else %}
<form class="form-inline" action="/room/leave/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Leave </span>
    <button class="btn btn-default" type="submit" >Leave</button>
</form>
{% endif %}

<h4>Simulation Operations </h4>

{% if running %}
<form class="form-inline" action="/room/stop/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Stop Simulation </span>
    <button class="btn btn-default" type="submit" >Stop</button>
</form>

<form class="form-inline" action="/room/run/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Run Simulation </span>
    <label for="step_count">Steps </label>
    <input class="form-control" type="number" id="step_count" name="step_count" min="1" max="100" value="1">

    <button class="btn btn-default" type="submit" >Run</button>
</form>
{% else %}
<form class="form-inline" action="/room/start/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Start Simulation </span>
    <button class="btn btn-default" type="submit" >Start</button>
</form>

<form class="form-inline" action="/room/remove_train/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Remove Train </span>
    <label for="train_id">Train </label>
    <select name="train_id" id="train_id" class="form-control">
        {% for train in trains %}
            <option value="{{train.id}}">Station: ({{train.source.x}}, {{train.source.y}}), Type: {% if train.type == "0" %}Mitski{% else %}Lady Gaga{% endif %}</option>
        {% endfor %}
    </select>
    <button class="btn btn-default" type="submit" >Remove Train</button>
</form>

<form class="form-inline" action="/room/add_train/{{room.id}}/" method="post">
    {% csrf_token %}
    <span class="lead">Add Train </span>
    <label for="train_type">Type </label>
    <select name="train_type" id="station_id" class="form-control">
        <option value="0">Mitski</option>
        <option value="1">Lady Gaga</option>
    </select>

    <label for="train_length">Length </label>
    <input class="form-control" type="number" id="train_length" name="train_length" min="1" max="100" required>

    <label for="station_id">Station </label>
    <select name="station_id" id="station_id" class="form-control">
        {% for station in stations %}
        <option value="{{station.id}}">({{station.x}}, {{station.y}})</option>
        {% endfor %}
    </select>
    <button class="btn btn-default" type="submit" >Add Train</button>
</form>
{% endif %}


{% endblock %}
